@{
    ViewData["Title"] = "Home Page";
}

<body class="fondo-home">
    @* <div class="text-center">
        <h1 class="display-4">Bienvenidos</h1>
    </div> *@

   <div class="bg-6">
    <div class="glitch" data-text="Rent-a-House">Rent-a-House</div>
</div>
</body>
