html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.fondo-home{
  background-image: url(../img/casa-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  display: contents;
}

.logo-navbar{
width: 2%;
}

.imghouse{
  width: 100px;
  height: 100px;
}



.fondo-index{
  background-image: url(../img/gris3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}


.fondo-create{
  background-image: url(../img/gris6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.fondo-edit{
  background-image: url(../img/gris1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}