@model AppRH.Models.House

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body class="fondo-create">

<h4 class="titulo-create">Nueva casa</h4>
<hr />
<div class="row d-flex justify-content-center text-create">
    <div class="col-md-4">
        <form asp-action="Create"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HouseName" class="control-label"></label>
                <input asp-for="HouseName" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="HouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseAddress" class="control-label"></label>
                <input asp-for="HouseAddress" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="HouseAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerHouse" class="control-label"></label>
                <input asp-for="OwnerHouse" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="OwnerHouse" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="PhotoHouse" class="control-label"></label>
                <input asp-for="PhotoHouse" class="form-control"  type="file"/>
                <span asp-validation-for="PhotoHouse" class="text-danger"></span>
            </div> <br>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div> <br>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary text-create">Volver</a>
</div>

</body>
</html>
