@model AppRH.Models.Customer

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body class="fondo-create">

<h4 class="titulo-create">Nuevo cliente</h4>
<hr />
<div class="row text-create">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerSurname" class="control-label"></label>
                <input asp-for="CustomerSurname" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="CustomerSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDNI" class="control-label"></label>
                <input asp-for="CustomerDNI" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="CustomerDNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerBirthDate" class="control-label"></label>
                <input asp-for="CustomerBirthDate" class="form-control" />
                <span asp-validation-for="CustomerBirthDate" class="text-danger"></span>
            </div> <br>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div> <br>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary text-create">Volver</a>
</div>

</body>
</html>
